# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


# Firebase config files
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
macos/Runner/GoogleService-Info.plist

# Build outputs
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
*.iml


android/local.properties


# Firebase config files
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
macos/Runner/GoogleService-Info.plist

# Local Android config
android/local.properties



ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/engine.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

firebase_options.dart
lib/firebase_options.dart
**/firebase_options.dart
.env

service-account.json
pawscareadoption-b7e881897e1e.json